---
copyright: Copyright (c) 2014 Assemble, contributors. Released under the MIT license
---
<h1>{{i18n "title"}}</h1>
<p>{{i18n "description"}}</p>
<footer>
  <small>Language: {{ language }}</small>
  <p>{{ copyright }}</p>
</footer>
